<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<welcome-file-list>
		<welcome-file>/main.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>JDBCPoolServlet</servlet-name>
		<servlet-class>miniEbay.servlet.JDBCPoolServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>miniEbay.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BrowserServlet</servlet-name>
		<servlet-class>miniEbay.servlet.BrowserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BrowserServlet</servlet-name>
		<url-pattern>/browse</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BrowserServletMobile</servlet-name>
		<servlet-class>miniEbay.servlet.BrowserServletMobile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BrowserServletMobile</servlet-name>
		<url-pattern>/browse_mobile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SingleItemServlet</servlet-name>
		<servlet-class>miniEbay.servlet.SingleItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SingleItemServlet</servlet-name>
		<url-pattern>/singleitem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SingleItemServletMobile</servlet-name>
		<servlet-class>miniEbay.servlet.SingleItemServletMobile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SingleItemServletMobile</servlet-name>
		<url-pattern>/singleitem_mobile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SingleStarServlet</servlet-name>
		<servlet-class>miniEbay.servlet.SingleStarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SingleStarServlet</servlet-name>
		<url-pattern>/singlestar</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>miniEbay.servlet.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchServletMobile</servlet-name>
		<servlet-class>miniEbay.servlet.SearchServletMobile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServletMobile</servlet-name>
		<url-pattern>/search_mobile</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShoppingCartServlet</servlet-name>
		<servlet-class>miniEbay.servlet.ShoppingCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShoppingCartServlet</servlet-name>
		<url-pattern>/shoppingcart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CheckoutServlet</servlet-name>
		<servlet-class>miniEbay.servlet.CheckoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CheckoutServlet</servlet-name>
		<url-pattern>/checkout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>OrderHistoryServlet</servlet-name>
		<servlet-class>miniEbay.servlet.OrderHistoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderHistoryServlet</servlet-name>
		<url-pattern>/orderhistory</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchAjaxServlet</servlet-name>
		<servlet-class>miniEbay.servlet.SearchAjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchAjaxServlet</servlet-name>
		<url-pattern>/searchajax</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SingleMovieAjaxServlet</servlet-name>
		<servlet-class>miniEbay.servlet.SingleMovieAjaxServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SingleMovieAjaxServlet</servlet-name>
		<url-pattern>/singlemovieajax</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginMobileServlet</servlet-name>
		<servlet-class>miniEbay.servlet.LoginMobileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginMobileServlet</servlet-name>
		<url-pattern>/login_mobile</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>loginfilter</filter-name>
		<filter-class>miniEbay.jdbc.filter.LoginFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CheckoutFilter</filter-name>
		<filter-class>miniEbay.jdbc.filter.CheckoutFilter</filter-class>
	</filter>
	<filter>
		<filter-name>ResultFilter</filter-name>
		<filter-class>miniEbay.jdbc.filter.ResultFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>loginfilter</filter-name>
		<url-pattern>/shoppingcart</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginfilter</filter-name>
		<url-pattern>/shoppingcart.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginfilter</filter-name>
		<url-pattern>/orderInfo.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CheckoutFilter</filter-name>
		<url-pattern>/orderInfo.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginfilter</filter-name>
		<url-pattern>/confirmation</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginfilter</filter-name>
		<url-pattern>/confirmation.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginfilter</filter-name>
		<url-pattern>/orderhistory</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginfilter</filter-name>
		<url-pattern>/orderhistory.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginfilter</filter-name>
		<url-pattern>/ordersingle.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>loginfilter</filter-name>
		<url-pattern>/userInfo.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ResultFilter</filter-name>
		<url-pattern>/orderfail.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ResultFilter</filter-name>
		<url-pattern>/ordersuccess.html</url-pattern>
	</filter-mapping>
</web-app>